<h1>Job Board</h1<>
<form action="/job_added" method="post">
  <label for="title">Job Title</label>
  <input id ="title" name="title" type="text">
  <label for="description">Job Description</label>
  <input id ="description" name="description" type="text">
  <label for="name">Name</label>
  <input id ="name" name="name" type="text">
  <label for="email">Email</label>
  <input id ="email" name="email" type="text">
  <label for="phone-number">Phone Number</label>
  <input id ="phone-number" name="phone-number" type="text">
  <button type="submit">Submit</button>
</form>
